header 
    .container 
        +BtnMenu()
        button.btn-search(modal="modalSearch")
            img(src="assets/images/icons/search.png", alt="")
        .search-form 
            img(src="assets/images/icons/search.png", alt="")
            form 
                input(type="text" placeholder="Хочу найти...")
                button.submit Найти
        .logo-wrapper
            .logo
                img(src="assets/images/icons/unreal.png", alt="")
            .logo
                img(src="assets/images/icons/unity.png", alt="")
        .lang-switch
            |Russian
            .dropbox
                span Russian
                span English
            select(name="lang")#lang
                option(value="ru") Russian  
                option(value="en") English  
        .menu-wrapper
            .container
                .menu
                    .scroll-wrapper
                        button.close-menu
                        ul.level-1.outer
                            li 
                                a(href="") Активы 
                                ul.level-2
                                    li 
                                        a(href="")  Блюпринты
                                    li
                                        a(href="")  Музыка
                                    li
                                        a(href="")  Звуковые эффекты
                                    li
                                        a(href="")  2d ассеты
                                    li
                                        a(href="")  Анимации
                                    li
                                        a(href="")  Окружение
                                    li
                                        a(href="")  Оружие
                                    li
                                        a(href="")  Визуальные эффекты
                                    li
                                        a(href="")  Материалы и текстуры
                                    li
                                        a(href="")  Декор
                                    li
                                        a(href="")  Персонажи
                                    li
                                        a(href="")  Архитектура
                                    li
                                        a(href="")  Скрипты C#
                            li
                                a(href="") Статьи 
                            li
                                a(href="") Ваши проекты 
                            li
                                a(href="") Связаться с нами 