mixin Modal(id, modalTemplate)
    .modal(id=id)
        .modal__dialog
            button.btn__modal__close
            .modal__content
                +#{modalTemplate}(entry)

mixin ModalTemplate
    h1 ModalTemplate

mixin ModalSearch
    span.modal-title Поиск по сайту
    form.search-form 
        .input-wrapper
            img(src="assets/images/icons/search.png", alt="")
            input(type="text" placeholder="Хочу найти...")
        button.btn Найти
    