include pug/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        include pug/header.pug
        section.first-scroll
            .owl-carousel 
                .slide
                    img(src="assets/images/main_slider/slide1.jpg", alt="").bg 
                    .container 
                        .desc
                            span.slide-title Библиотека Активов
                            p 
                                |Мы открываем для вас новый портал для разработчиков на движках Unreal Engine и Unity.
                                |Тут будет все, что вам нужно: обучение, помощь с вашими проектами, ассеты,
                                |реклама для ваших проектов, всевозможная поддержка, переводы блога
                                |с офф.сайта и многое другое.
                        button.btn Перейти в библиотеку 
                .slide
                    img(src="assets/images/main_slider/slide2.jpg", alt="").bg 
                    .container 
                        .desc
                            span.slide-title Библиотека Активов 2
                            p 
                                |Мы открываем для вас новый портал для разработчиков на движках Unreal Engine и Unity.
                                |Тут будет все, что вам нужно: обучение, помощь с вашими проектами, ассеты,
                                |реклама для ваших проектов, всевозможная поддержка, переводы блога
                                |с офф.сайта и многое другое.
                        button.btn Перейти в библиотеку 
            .container.navs-wrapper
                .owl-nav
                    .dots
                    .nav
        section.hits
            .container
                h2.title Хиты просмотров
                .owl-carousel 
                    +HitsSlide()
                    +HitsSlide()
                    +HitsSlide()
                    +HitsSlide()
                    +HitsSlide()
                    +HitsSlide()
                    +HitsSlide()
                    +HitsSlide()
                    +HitsSlide()
                    +HitsSlide()
                    +HitsSlide()
                    +HitsSlide()
                    +HitsSlide()
                    +HitsSlide()
                    +HitsSlide()
                .owl-nav
                    .dots
        section.catalog 
            .container 
                h2.title Категории активов
                .catalog-wrapper 
                    a(href="").item.big
                        img(src="assets/images/catalog/1.jpg", alt="")
                        span Блюпринты
                    a(href="").item
                        img(src="assets/images/catalog/2.jpg", alt="")
                        span Музыка
                    a(href="").item.middle
                        img(src="assets/images/catalog/5.jpg", alt="")
                        span Анимации
                    a(href="").item
                        img(src="assets/images/catalog/3.jpg", alt="")
                        span Звуковые эффекты
                    a(href="").item.middle
                        img(src="assets/images/catalog/6.jpg", alt="")
                        span Окружение
                    a(href="").item
                        img(src="assets/images/catalog/4.jpg", alt="")
                        span 2d ассеты
                    a(href="").item
                        img(src="assets/images/catalog/7.jpg", alt="")
                        span Оружие
                    a(href="").item
                        img(src="assets/images/catalog/8.jpg", alt="")
                        span Визуальные эффекты
                    a(href="").item
                        img(src="assets/images/catalog/9.jpg", alt="")
                        span Материалы и текстуры
                    a(href="").item.big
                        img(src="assets/images/catalog/10.jpg", alt="")
                        span Декор
                    a(href="").item.middle
                        img(src="assets/images/catalog/11.jpg", alt="")
                        span Персонажи
                    a(href="").item.big
                        img(src="assets/images/catalog/13.jpg", alt="")
                        span Скрипты C#
                    a(href="").item.middle
                        img(src="assets/images/catalog/12.jpg", alt="")
                        span Архитектура
            section.news
                .container 
                    h2.title Статьи и видеоуроки
                    .news-wrapper 
                        a(href="").main-item
                            .img 
                                img(src="assets/images/news/1.jpg", alt="")
                            span Релиз Unreal Engine 5
                        a(href="").item 
                            .img
                                img(src="assets/images/news/2.jpg", alt="")
                            .desc
                                span.news-title Визуальное программирование в Unity
                                p Подробный урок по Playmaker Unity. Разработка RTS
                        a(href="").item 
                            .img
                                img(src="assets/images/news/3.jpg", alt="")
                            .desc
                                span.news-title Бесплатные ассеты марта 2022
                                p Подборка бесплатных активов для Unreal Engine
                        a(href="").item 
                            .img
                                img(src="assets/images/news/2.jpg", alt="")
                            .desc
                                span.news-title Визуальное программирование в Unity
                                p Подробный урок по Playmaker Unity. Разработка RTS
                        a(href="").item 
                            .img
                                img(src="assets/images/news/3.jpg", alt="")
                            .desc
                                span.news-title Бесплатные ассеты марта 2022
                                p Подборка бесплатных активов для Unreal Engine
                        a(href="").item 
                            .img
                                img(src="assets/images/news/2.jpg", alt="")
                            .desc
                                span.news-title Визуальное программирование в Unity
                                p Подробный урок по Playmaker Unity. Разработка RTS
                        a(href="").item 
                            .img
                                img(src="assets/images/news/3.jpg", alt="")
                            .desc
                                span.news-title Бесплатные ассеты марта 2022
                                p Подборка бесплатных активов для Unreal Engine
                    .btn-wrapper 
                        a(href="").btn Все статьи 
                        



        include pug/scripts.pug