body
{
    margin: 0;
    color: #fff;
    background: #1d1d1d;
    font-family: "OpenSans";

}

body.lock
{
    overflow: hidden;
}

*, ::after, ::before 
{
    box-sizing: border-box;
}

a
{
    color: inherit;
    text-decoration: none;
    word-break: break-all;
}

button, input, select
{
    outline: none;
    font-family: "OpenSans";
    border: none;
}

button, a
{
    cursor: pointer;
}

.btn 
{
    font-size: 14px;
    color: #fff;
    background: none;
    height: 50px;
    min-width: 280px;
    padding: 0 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

.btn:after
{
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: #c94c54;
    transform: skew(-20deg);
    z-index: -1;
    box-shadow: 0px 0px 10px #c94c54;
    transition: 0.3s;
}

.btn:hover:after
{
    transform: skew(-30deg);
}

section 
{
    padding: 45px 0;
}

header 
{
    padding: 40px 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.8295693277310925) 11%, rgba(0,0,0,0) 90%);

    .container 
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .search-form
    {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        margin-right: 60px;
        background: rgba(0, 0, 0, 0.7);

        form 
        {
            display: flex;
            align-items: center;
        }

        img 
        {
            margin-right: 15px;
        }

        input 
        {
            height: 25px;
            border: none;
            background: none;
            color: #fff;
            font-size: 14px;
        }

        .submit 
        {
            min-width: 125px;
            height: 35px;
            background: none;
            position: relative;
            z-index: 10;
            color: #fff;
            font-size: 14px;
            transform: translateX(50%);
        }

        .submit:after
        {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: #c94c54;
            transform: skew(-20deg);
            z-index: -1;
            transition: 0.3s;
        }

        .submit:hover:after
        {
            transform: skew(-30deg);
        }
    }

    .logo-wrapper 
    {
        display: flex;
        align-items: center;

        img 
        {
            margin-right: 15px;
        }

        img:last-child
        {
            margin-right: 0;
        }
    }

    .lang-switch
    {
        position: relative;
        background: #ae444c;
        color: #fff;
        padding: 5px 10px;
        padding-right: 20px;
        font-size: 14px;
        min-width: 90px;
        min-height: 35px;
        display: flex;
        align-items: center;
        cursor: pointer;

        .dropbox
        {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 100%;
            display: flex;
            flex-direction: column;
            opacity: 0;
            pointer-events: none;
            transition: 0.5s;
            z-index: 10;

            span
            {
                background: #ae444c;
                color: #fff;
                padding: 5px 10px;
                border-bottom: 1px solid #7e3137;
                cursor: pointer;
                transition: 0.3s;
            }

            span:first-child
            {
                border-top: 1px solid #7e3137;
            }

            span:last-child 
            {
                border: none;
            }

            span:hover 
            {
                background: #7e3137;
            }
        }
    }

    .lang-switch:hover
    {
        .dropbox 
        {
            opacity: 1;
            pointer-events: all;
        }
    }

    .lang-switch select
    {
        display: none;
    }

    .lang-switch select::-ms-expand 
    {
        display: none;
    }

    .lang-switch:after 
    {
        content: '';
        width: 10px;
        height: 6px;
        background: url(/assets/images/icons/select_arrow.png);
        position: absolute;
        right: 8px;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 5;
    }
}

section.first-scroll
{
    position: relative;
    padding: 0;

    .slide 
    {
        padding: 200px 0;
        position: relative;
        display: flex;
        align-items: center;
        min-height: 785px;

        .bg
        {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            width: 100%;
            height: auto;
            
        }

        .slide-title 
        {
            font-size: 54px;
            font-weight: 800;
            margin-bottom: 30px;
        }

        .desc
        {
            width: 60%;
            margin-bottom: 50px;

            p 
            {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .container.navs-wrapper
    {
        padding: 50px 0;
        position: absolute;
        bottom: 85px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .owl-nav
    {
        padding: 0 130px;
        position: relative;
        z-index: 10;
        display: inline-flex;
        .nav 
        {
            pointer-events: none;
            position: absolute;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            top: 50%;
            transform: translateY(-50%);
            padding: 0 20px;

            button
            {
                width: 75px;
                height: 75px;
                background: none;
                border: 2px solid rgba(201, 76, 84, 0.7);
                font-size: 0;
                position: relative;
                pointer-events: all;
                transition: 0.5s;
            }

            button:hover 
            {
                background: rgba(201, 76, 84, 0.3);
            }

            button:after 
            {
                content: '';
                width: 20px;
                height: 20px;
                background: none;
                border-left: 2px solid #fff;
                border-top: 2px solid #fff;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
            }

            .owl-prev 
            {
                transform: rotate(-45deg);
            }

            .owl-next 
            {
                transform: rotate(135deg);
            }
        }
    }
}

.dots
{
    display: flex;
    align-items: center;

    button 
    {
        width: 10px;
        height: 10px;
        margin: 5px;
        padding: 0;
        background: #fff;
        border-radius: 50%;
        transition: 0.5s;
    }

    button.active 
    {
        background: #c94c54;
    }

    button:hover 
    {
        background: #c94c54;
    }
}

.title 
{
    font-size: 42px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
}

section.hits
{
    .slide 
    {
        display: flex;
        flex-direction: column;
        background: #000000;
        margin: 5px;

        .img 
        {
            width: 100%;
            height: 175px;
            position: relative;
            overflow: hidden;

            img
            {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                height: 100%;
                transition: 0.3s;
            }
        }

        .desc 
        {
            padding: 20px 10px;
            min-height: 140px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            p 
            {
                margin: 0;
                font-size: 14px;
                margin-bottom: 10px;
            }

            .slide-title 
            {
                font-size: 15px;
                font-weight: 700;
                margin-bottom: 10px;
                display: block;
            }
        }

        .more 
        {
            background: none;
            color: #fff;
            font-size: 15px;
            font-weight: 700;
            padding: 0;
            padding-bottom: 5px;
            position: relative;
            margin-top: auto;
        }

        .more:after
        {
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            background: #c94c54;
            transition: 0.3s;
        }

        .more:hover:after 
        {
            width: 80%;
        }
    }

    .slide:hover img 
    {
        transform: scale(1.05)
    }

    .owl-nav
    {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}

@import 'responce';